always-auth=true
email=$GIT_EMAIL
registry=https://pluralsight.jfrog.io/artifactory/api/npm/npm/

//registry.npmjs.org/:_authToken=$NPM_TOKEN
//pluralsight.jfrog.io/artifactory/api/npm/npm/:_authToken=$ARTIFACTORY_NPM_TOKEN
